<!-- Header================================================== -->
<TMPL_INCLUDE name="base.html"/>
<TMPL_INCLUDE name="js.html"/>

<body class="single"> 
   <TMPL_INCLUDE name="top_nav_bar_mag.html"/>

<!-- Content ================================================== -->
	     
<div id="content-wrap">
    <div class="row">
        <div id="main" class="eleven columns">
            <article class="entry">

                <header class="entry-header">
                    <h2 class="entry-title">
                        Editing Incident <TMPL_VAR name="incident.incdt_id">
                    </h2>
                    <TMPL_IF name="incident.incdt_linkid" equal value="-1">
                            <TMPL_VAR name="incident.url_create_quote">
                    <TMPL_ELSE>
                            <TMPL_VAR name="incident.url_edit_qu">
                    </TMPL_IF>
                </header> 
                <form action="save_incident" method="post">
                    <input name="incdt_id" id="incdt_id" type="hidden" placeholder=""  value="<TMPL_VAR name="incident.calhead_id">">  
                    <input name="cntct_id" id="cntct_id" type="hidden" placeholder="" value="<TMPL_VAR name="incident.cntct_id">">
                    <input name="addr_id" id="addr_id" type="hidden" placeholder=""  value="<TMPL_VAR name="incident.addr_id">"> 
                    <table style="width:100%">
                        <tbody>
                            <tr>
                            <td>
                                <label for="cntct_name"> Contact First</label> 
                                    <input name="cntct_first_name" id="cntct_first_name" type="text" placeholder="" required value="<TMPL_VAR name="incident.cntct_first_name">"> 
                                <label for="cntct_name"> Contact Last</label> 
                                    <input name="cntct_last_name" id="cntct_last_name" type="text" placeholder="" required value="<TMPL_VAR name="incident.cntct_last_name">"> 
                                <label for="cntct_phone">Contact Phone # </label> 
                                    <input name="cntct_phone" id="cntct_phone" type="text" placeholder="" required value="<TMPL_VAR name="incident.cntct_phone">">
                                <label for="cntct_email">Contact Email </label>
                                    <input name="cntct_email" id="cntct_email" type="email" placeholder="" required value="<TMPL_VAR name="incident.cntct_email">">
                            </td>
                            <td>    
                                <label for="addr_line1">Contact Address Line 1 </label> 
                                    <input name="addr_line1" id="addr_line1" type="text" placeholder="Line1" required value="<TMPL_VAR name="incident.addr_line1">"> 
                                <label for="addr_line2">Contact Address Line 2</label> 
                                    <input name="addr_line2" id="addr_line2" type="text" placeholder="Line2" required value="<TMPL_VAR name="incident.addr_line2">">
                                <label for="addr_line3">Cust Address Line 3 </label> 
                                    <input name="addr_line3" id="addr_line3" type="text" placeholder="Line3" required value="<TMPL_VAR name="incident.addr_line3">">
                                <label for="addr_city"> Cust City </label> 
                                    <input name="addr_city" id="addr_city" type="text" placeholder="" required value="<TMPL_VAR name="incident.addr_city">">
                                <label for="addr_state"> Cust State</label> 
                                    <input name="addr_state" id="addr_state" type="text" placeholder="" required value="<TMPL_VAR name="incident.addr_state">">
                            </td>
                            </tr>
                            <tr><td>
                                    <label for="incdt_descrip">Service Notes </label> 
                                    <textarea name="incdt_descrip" id="incdt_descrip" > <TMPL_VAR name="incident.incdt_descrip"> </textarea>
                            </td></tr>
                    </table>    
                
                    <input type="submit" formmethod="POST" formaction ="save_cert_header" value="Save Header">
                </form>
                <table style="width:100%">
                    <tbody>
                        <tr> 
                            <th>Todo Name</th>
                            <th>Description  </th>
                            <th>Status  </th>
                            <th>Active</th>
                            <th>View</th>
                            <th>Close</th>
                            <th>Delete</th>
                        </tr>
                        <TMPL_LOOP name="todoitems">
                            <tr>
                                <td><TMPL_VAR name="todoitem_name"></td>
                                <td><TMPL_VAR name="todoitem_description"></td>
                                <td><TMPL_VAR name="todoitem_status"></td>
                                <td><TMPL_VAR name="todoitem_active"></td>
                                <td><TMPL_VAR name="url_view_todo"></td>
                                <td><TMPL_VAR name="url_close_todo"></td>
                                <td><TMPL_VAR name="url_del_todo"></td>
                            </tr>
                        </TMPL_LOOP>
                    </tbody>
                </table>

                <form action="add_todo" method="post"> 
                    <input name="incdt_id" id="incdt_id" type="hidden" placeholder=""  value="<TMPL_VAR name="incident.calhead_id">">
                    <label for="todoitem_name"> </label> 
                        <input name=todoitem_name" id="todoitem_name" type="text" placeholder="" required value="> 
                    <label for="todoitem_description">Name</label> 
                        <input name="todoitem_description" id="todoitem_description" type="text" placeholder="Summary of Todo" required value="> 
                    <label for="">Status</label> 
                        <input name="todoitem_status" id="todoitem_status" type="text"  required value=">
                    <input type="submit" formmethod="POST" formaction ="add_todo" value="Add To Do Item">
                </form>

                <TMPL_VAR name="incident.item_number"> Serial # <TMPL_VAR name="incident.ls_number">
                <table style="width:100%">
                    <tr> 
                        <th>Document Name</th>
                    </tr>
                   
                    <TMPL_LOOP name="item_documents">
                        <tr>
                            <td><TMPL_VAR name="url_dowload_file"></td>
                        </tr>
                    </TMPL_LOOP>
                    
                </table>
                Work Order:<TMPL_VAR name="incident.WO"> <br>
                Warranty Code: <TMPL_VAR name="incident.wodetails_shutdowncode"><br>
                Production Notes:<TMPL_VAR name="incident.wo_prodnotes"><br>
                <table style="width:100%">
                    <tr> 
                        <th>Document Name</th>
                    </tr>
                    
                    <TMPL_LOOP name="wo_documents">
                        <tr>
                            <td><TMPL_VAR name="url_dowload_file"></td>
                        </tr>
                    </TMPL_LOOP>
                </table>
                Incident Documents:
                    <table style="width:100%">
                        <tr> 
                            <th>Document Name</th>
                        </tr>
                        <TMPL_LOOP name="incident_documents">
                            <tr>
                                <td><TMPL_VAR name="url_dowload_file"></td>
                            </tr>
                        </TMPL_LOOP>
                    </table>
                Add Files to the Incident 
                <form action="write_file_to_xdb" method="post" enctype="multipart/form-data">
                    <input name="key" id="key" type="hidden"   value="<TMPL_VAR name="incident.incdt_id">">
                    <input name="type" id="type" type="hidden" value="INCDT">
                    <input name="redirect" id="redirect" type="hidden" value="get_incident?incdt_id=<TMPL_VAR name="incident.incdt_id">">
                    <input type="file" name="file_id" id="file_id" multiple>
                    <input type="submit" formmethod="POST" formaction ="write_file_to_xdb" value="Add File to Item ">
                </form>
            </article>
        </div>
    </div>
</div>
    <script>
        tinymce.init({
          selector:'textarea',
          file_picker_types: 'file image media',
          images_upload_url: 'file_upload',
          automatic_uploads: true,
          plugins: 'a11ychecker advcode casechange formatpainter linkchecker lists checklist media mediaembed pageembed permanentpen powerpaste table advtable image tinymcespellchecker',
          toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter insertfile image imagetools pageembed permanentpen table',
          toolbar_drawer: 'floating',
        });
     </script>
</body>
