<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
    padding: 5px;
    text-align: left;
}
 </style>
<table style="width:100%">
<tr> 
 <th rowspan ="6">Application Information: </th>
        <tr><td> Application URL: <TMPL_VAR name="APPURL"> </td> </tr> 
        <tr><td> Content Type: <TMPL_VAR name="HEADERS.Content-Type"> </td> </tr>
        <tr><td> Character Encoding: <TMPL_VAR name="HEADERS.charset"> </td> </tr>
        <tr><td>Site Name: <TMPL_VAR name="SITE_NAME"> </td> </tr>
        <tr><td> Cross Script key: <TMPL_VAR name="CSB"> </td> </tr>
</tr>
<tr>
    <th rowspan="3">Exception: </th>
    <tr><td>Name: <TMPL_VAR name="EXCEPTION_CLASS_NAME"></td></tr>
    <tr><td>Details: <TMPL_VAR name="EXCEPTION"></td></tr>
</tr>
<tr>    
   <th rowspan='<TMPL_VAR name="CALL_STACK_LENGTH">'>Call Stack: </th>
   
   <TMPL_LOOP name="CALL_STACK">
        <tr><td><TMPL_VAR name="ERROR_STACK"></td> </tr>
    </TMPL_LOOP>  

</tr>
<tr>
    <th rowspan='<TMPL_VAR name="POST_LENGTH">'>POST </th>
        $post
    
</tr>
<tr>
    <th rowspan='<TMPL_VAR name="GET_LENGTH">'>GET </th>
        $get  
</tr>

<tr>
    <th rowspan="4">document settings </th>
        <tr><td>server path: <TMPL_VAR name="DOCS.filepath"> </td></tr>
        <tr><td> full url path: <TMPL_VAR name="DOCS.furlpath"> </td></tr>
        <tr><td> short url path: <TMPL_VAR name="DOCS.urlpath"> </td></tr>
</tr>
<tr> 
        <th rowspan="4"> Image Settings </th>      
        <tr><td>server path: <TMPL_VAR name="IMAGES.filepath"> </td> </tr>
        <tr><td>r>>full url path: <TMPL_VAR name="IMAGES.furlpath"> </td> </tr>
        <tr><td>short url path: <TMPL_VAR name="IMAGES.urlpath"> </td> </tr>
</tr>
    <tr>
    <th rowspan="4">  Media File Settings </th>
        <tr><td>server path: <TMPL_VAR name="MEDIA.filepath"> </td> </tr>
        <tr><td>full url path: <TMPL_VAR name="MEDIA.furlpath"> </td> </tr>
        <tr><td>short url path: <TMPL_VAR name="MEDIA.urlpath"> </td></tr>
</tr>
    <tr>
    <th rowspan="4">  Static File Settings </th>
        <tr><td>server path: <TMPL_VAR name="STATIC.filepath"> </td></tr> 
        <tr><td>full url path: <TMPL_VAR name="STATIC.furlpath"> </td></tr> 
        <tr><td>short url path: <TMPL_VAR name="STATIC.urlpath"> </td></tr> 
    </tr>
</tr> 
<th rowspan="11">  Security and User Access </th>
    <tr> <td> Security Required: <TMPL_VAR name="SEC.REQUIRE_LOGGIN"> </td> </tr>
    <TMPL_LOOP name="USER_ACCESS"> 
    </TMPL_LOOP>  
    <tr><td>AutoLogin: <TMPL_VAR name="SEC.USER_AUTOLOGIN"> </td> </tr>
    <tr><td>Client: <TMPL_VAR name="SEC.USER_CLIENT"> </td></tr> 
    <tr><td>Email: <TMPL_VAR name="SEC.USER_EMAIL"> </td></tr> 
    <TMPL_LOOP name="USER_GROUP"> 
    </TMPL_LOOP>  
    <tr><td>ID Key: <TMPL_VAR name="SEC.USER_ID"> </td></tr> 
    <tr><td>IP Address: <TMPL_VAR name="SEC.USER_IPADDRESS"> </td></tr> 
    <tr><td>Is Logged in: <TMPL_VAR name="SEC.USER_LOGGEDIN"> </td></tr> 
    <tr><td>Name: <TMPL_VAR name="SEC.USER_NAME"> </td></tr> 
    <tr><td>PWDL <TMPL_VAR name="SEC.USER_PWD"> </td></tr> 
    <tr><td>Timeout: <TMPL_VAR name="SEC.USER_TIMER"> </td></tr> 
    
</tr>
</table>