<TMPL_INCLUDE name="base.html"/>
<body class="single">

   <!-- Header
   ================================================== -->
	<TMPL_INCLUDE name="top_nav_bar.html"/>

   <!-- Content
   ================================================== -->
   <div id="content-wrap">
   	<div class="row">
   		<div id="main" class="eight columns">
   			<article class="entry">
                    <header class="entry-header">

                        <h2 class="entry-title">
                            <TMPL_LOOP name="list_articles">
                                    <li><TMPL_VAR name="url" ></li>						
                            </TMPL_LOOP>
						</h2> 				
						<div class="entry-meta">
						</div> 
					</header> 
				
  			       <ul class="post-nav group">
  			            <li class="prev"><TMPL_VAR name="newer.url"></TMPL_VAR></li>
  				         <li class="next"><TMPL_VAR name="older.url"></li>
  			        </ul>

				</article>

   		</div> <!-- main End -->

  		</div> <!-- end row -->

   </div> <!-- end content-wrap -->   

   <!-- Footer
   ================================================== -->
   
	<TMPL_INCLUDE name="js.html"/>

</body>

</html>