<TMPL_INCLUDE name="base.html"/>
<!-- Header
   ================================================== -->
   <TMPL_INCLUDE name="top_nav_bar.html"/>

   <!-- Content
   ================================================== -->
   <form name="login" action="log_in" method="post"> 
        Username:<input type="text" name="user_name" id="user_name" > <br>
        Password:<input type="password" name="pwd" id="pwd"><br>
        Remeber me:
        <input type="checkbox" name="remeber" id="remeber">
        <input type="hidden" id="CSB" name="CSB" value="<TMPL_VAR name="CSB">">
        <input type="submit" value="Submit">
   </form> 

    <!-- Footer
   ================================================== -->

<TMPL_INCLUDE name="js.html"/>
