<TEMPLATE name="base.html"/>
<!-- Header
   ================================================== -->
   <TEMPLATE name="top_nav_bar.html"/>

   <!-- Content
   ================================================== -->
   <form name="login" action="log_in" method="post" value="<TMPL_VAR name="user_name">">
        Username:<br>
        <input type="text" name="user" id="user">
        Password:<br>
        <input type="password" name="pwd" id="user">
        Remeber me:<br>
        <input type="checkbox" name="remeber" id="remeber">
        <input type="hidden" id="csb" name="csb" value="<TMPL_VAR name="CSB">">
       
   </form> 

    <!-- Footer
   ================================================== -->

<TEMPLATE name="js.html"
