 <header id="top">
   	<div class="row">
   		<div class="header-content twelve columns">

		      <h1 id="logo-text"><a href="index.html" title="">zSheep Blog</a></h1>
				<p id="intro"><TMPL_VAR name="SITE_NAME"></p>
		</div>			

	</div>
	<nav id="nav-wrap"> 
	   <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
		<a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>
	   	<div class="row">    		            
			   	<ul id="nav" class="nav">
			      	<li><a href="index.html">Home</a></li>
			      	<li class="has-children"><a href="#">Dropdown</a>
	                  <ul>
								<!--<TMPL_IF name="varname" value="testvalue">-->
									<li><a href="/new_blog">New Blog</a></li>
								<!--</TMPL_IF>-->
	                     <li><a href="#">List Of Bogs</a></li>
	                     <li><a href="#"></a></li>
	                  </ul>
	               </li>
	               <li><a href="demo.html">Demo</a></li>	
	               <li><a href="archives.html">Archives</a></li>
			      	<li class="has-children current"><a href="single.html">Blog</a>
							<ul>
	                     <li><a href="blog.html">Blog Entries</a></li>
	                     <li><a href="single.html">Single Blog</a></li>	                     
	                  </ul>
			      	</li>		      	
			      	<li><a href="page.html">Page</a></li>
			   	</ul> <!-- end #nav -->			   	 
	   	</div> 
	</nav> <!-- end #nav-wrap -->  	     
</header> <!-- Header End -->